.reveal {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.3;
	text-shadow: none;
	word-wrap: break-word;
	font-size: 28px;
}

.reveal h1 {
	font-size: 5em;
}

.reveal h2 {
	font-size: 3em;
}

body {
    background-color: #dfca00;
	/*background-color: #d3d3d3;*/
	background-image: url('../img/sacpy-logo-150x119.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
}

#conduct-p {
	text-align: left;
}