<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>SacPy</title>
<body>
  <div class="placeholder">
    <h2>{{ this.title }}</h2>
    {{ this.body }}
  </div>
</body>
